In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = "E:/Sem5/ML/Dataset/preprocessed.csv"
#path2 = "/content/drive/MyDrive/Dataset/stop_words.txt"

In [4]:
#import nltk
#nltk.download('stopwords')

In [5]:
from nltk.corpus import stopwords
stop_words_set = set(stopwords.words('english'))

In [6]:
preprocessedDF = pd.read_csv('Dataset/preprocessed.csv')

In [7]:
preprocessedDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37210 entries, 0 to 37209
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  37210 non-null  bool
 1   belongs_to_collection  3918 non-null   object
 2   budget                 37210 non-null  int64
 3   genres                 37210 non-null  object
 4   homepage               6307 non-null   object
 5   id                     37210 non-null  int64
 6   imdb_id                37210 non-null  int64
 7   original_language      37205 non-null  object
 8   original_title         37210 non-null  object
 9   overview               36573 non-null  object
 10  popularity             37210 non-null  float64
 11  poster_path            37210 non-null  object
 12  production_companies   37210 non-null  object
 13  production_countries   37210 non-null  object
 14  release_date           37189 non-null  object
 15  revenue                37210 non-null  float64
 16  runtime                37062 non-null  float64
 17  spoken_languages       37210 non-null  object
 18  status                 37156 non-null  object
 19  tagline                17810 non-null  object
 20  title                  37210 non-null  object
 21  video                  37210 non-null  bool
 22  vote_average           37210 non-null  float64
 23  vote_count             37210 non-null  float64
 24  posterID               37210 non-null  object
 25  cast                   37210 non-null  object
 26  crew                   37210 non-null  object
 27  keywords               37210 non-null  object
 28  Imdb Link              37210 non-null  object
 29  Title                  37210 non-null  object
 30  IMDB Score             37193 non-null  float64
 31  Genre                  37088 non-null  object
 32  Poster                 36704 non-null  object
 33  num_faces              37210 non-null  float64
 34  brightness             37210 non-null  float64
 35  saturation             37210 non-null  float64
 36  hue                    37210 non-null  float64
 37  brightness_sd          37210 non-null  float64
 38  saturation_sd          37210 non-null  float64
 39  hue_sd                 37210 non-null  float64
 40  blue                   37210 non-null  float64
 41  blue_sd                37210 non-null  float64
 42  green                  37210 non-null  float64
 43  green_sd               37210 non-null  float64
 44  red                    37210 non-null  float64
 45  red_sd                 37210 non-null  float64
dtypes: bool(2), float64(19), int64(3), object(22)
memory usage: 12.6+ MB

In [8]:
preprocessedDF.describe()

,budget,id,imdb_id,popularity,revenue,runtime,vote_average,vote_count,IMDB Score,num_faces,...,hue,brightness_sd,saturation_sd,hue_sd,blue,blue_sd,green,green_sd,red,red_sd
count,3.721000e+04,37210.000000,3.721000e+04,37210.000000,3.721000e+04,37062.000000,37210.000000,37210.000000,37193.000000,37210.000000,...,37210.000000,37210.000000,37210.000000,37210.000000,37210.000000,37210.000000,37210.000000,37210.000000,37210.000000,37210.000000
mean,4.711716e+06,92095.604327,8.350883e+05,3.114066,1.252765e+07,96.065242,5.717186,123.099973,6.409185,0.563612,...,54.121472,72.888216,66.108829,44.692045,102.676043,69.147140,112.402166,72.107912,127.214442,75.265465
std,1.820269e+07,97166.149197,1.144543e+06,5.596429,6.719505e+07,37.338853,1.796600,518.225290,1.142621,0.922337,...,28.890712,15.745163,19.977247,16.171165,49.732066,18.623296,48.762495,16.121290,51.192335,15.793882
min,0.000000e+00,2.000000,3.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.200000,0.000000,...,0.000000,1.183370,0.000000,0.000000,0.882752,1.977672,0.726561,1.651825,1.337270,1.244778
25%,0.000000e+00,22969.250000,8.093450e+04,0.453325,0.000000e+00,86.000000,5.100000,4.000000,5.800000,0.000000,...,30.549816,62.818346,53.854725,34.489826,63.103481,56.652542,73.914467,61.786961,87.503894,65.441396
50%,0.000000e+00,51789.000000,2.363165e+05,1.290035,0.000000e+00,95.000000,6.000000,11.000000,6.600000,0.000000,...,50.157406,73.247646,66.716290,45.677917,98.034244,69.919507,110.593031,72.334171,127.259378,75.881237
75%,0.000000e+00,125163.250000,1.327770e+06,4.358514,0.000000e+00,108.000000,6.800000,42.000000,7.200000,1.000000,...,74.505922,83.473024,79.505317,55.664458,139.488232,82.423853,149.611802,82.938145,167.770281,86.003713
max,3.800000e+08,469172.000000,6.098922e+06,547.488298,2.787965e+09,1256.000000,10.000000,14075.000000,9.500000,16.000000,...,174.309900,125.836770,125.016174,88.502696,253.928587,125.838671,251.624791,125.841819,253.605869,125.837170

In [9]:
all_data = preprocessedDF

In [10]:
all_data = all_data.drop(columns=['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'popularity', 'poster_path', 'revenue', 
                                  'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count', 'posterID', 'Imdb Link', 'Title', 'Poster'], axis=1)

In [11]:
all_data.shape

(37210, 25)

In [12]:
all_data = all_data.dropna()

In [13]:
all_data.shape

(36435, 25)

In [14]:
all_data.head()

,original_language,original_title,overview,production_companies,production_countries,release_date,runtime,cast,crew,keywords,...,hue,brightness_sd,saturation_sd,hue_sd,blue,blue_sd,green,green_sd,red,red_sd
0,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",...,82.805137,58.496526,80.933495,46.984021,147.046133,83.046441,127.812661,59.618615,79.571854,88.574055
1,en,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",...,65.296239,83.413251,67.319422,61.296055,132.472598,84.508776,137.041430,79.140584,137.619493,85.319415
2,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",...,48.908106,94.073346,70.979805,65.406756,97.464385,78.935691,106.743824,89.725921,136.728580,96.124722
3,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...",...,43.298337,71.637853,74.316934,57.431210,148.388970,88.371216,161.866089,82.379306,191.924122,72.849543
4,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",...,19.093691,102.482222,85.251258,28.312941,94.287052,98.054007,110.440328,99.236678,136.537094,104.796367

In [15]:
def graph_create_dictionary_overview(messages, min_count, tokenizer):
    #stop_words = []
    #with open(path2,'r') as f:
    #  for x in f:
    #    stop_words.append(x[:-1])

    words_count = {}
    for i in tqdm(range(len(messages))):
        s = messages[i]
        words = get_words(s, tokenizer)
        words_unique = list(dict.fromkeys(words))
        for w in words_unique:
          if (len(w)<=1) or (w.lower() in stop_words_set) or (not w.isalpha()):
            continue
          if w.lower() not in words_count:
            words_count[w.lower()] = 1
          else:
            words_count[w.lower()] += 1

    for word in list(words_count.keys()):
        if (words_count[word] < min_count) or word=='':
            del words_count[word]

    return words_count

In [16]:
#tokenizer = spacy.load("en_core_web_sm", disable=["tagger", "parser", "ner", "lemmatizer"])
#graph_overview_dictionary = graph_create_dictionary_overview(
#    all_data['overview'], 75, tokenizer)
#print('Size of dictionary: ', len(graph_overview_dictionary))
# print(overview_dictionary)

In [17]:
#from wordcloud import WordCloud
#wordcloud = WordCloud()
#wordcloud.generate_from_frequencies(frequencies=graph_overview_dictionary)
#plt.figure(figsize=(15,15))
#plt.imshow(wordcloud)
#plt.axis("off")
#plt.show()

In [18]:
#all_data = all_data[all_data.original_language == 'en']
print(all_data.shape)

(36435, 25)

In [19]:
original_language_series = all_data['original_language']
print(len(original_language_series))
original_language_series = original_language_series.drop_duplicates()

36435

In [20]:
len(original_language_series)

87

In [21]:
def create_original_languages_dictionary(ss):
  ol_dict = {}
  idx = 1
  for x in ss:
    ol_dict[x] = idx
    idx+=1
  return ol_dict

In [22]:
original_language_dictionary = create_original_languages_dictionary(original_language_series)

In [23]:
for itr in all_data.index:
  all_data.at[itr, 'original_language'] = original_language_dictionary[all_data.at[itr, 'original_language']]

In [24]:
pd.to_datetime(all_data.release_date)
all_data['year'] = pd.DatetimeIndex(all_data['release_date']).year
all_data = all_data.drop(columns=['release_date'], axis=1)
print(all_data.shape)

(36435, 25)

In [25]:
#change value based on EDA
#all_data = all_data.loc[all_data.year > 1960]

In [26]:
#score_by_genre = all_data.groupby(['Genre'])['IMDB Score'].agg(['mean', 'count']).sort_values(by='mean')
#score_by_genre[score_by_genre['count'] > 0]

In [27]:
from ast import literal_eval

In [28]:
def get_production_companies(l):
  if isinstance(l, list):
    productionCompanies = [pc['name'] for pc in l]
    return '|'.join(productionCompanies)
  return ''

In [29]:
def get_production_countries(l):
  if isinstance(l, list):
    #productionCountries = [pc['iso_3166_1'] for pc in l]
    #return '|'.join(productionCountries)
    if len(l)>0:
      return l[0]['iso_3166_1']
  return ''

In [30]:
def get_keywords(l):
  if isinstance(l, list):
    # temp = [x.split() for x in l]
      # return temp
    # words = [x['name'] for x in l]
    # print(l)
    # print(words)
    words = [x['name'] for x in l]
    allWords = []
    for word in words:
      temp = word.split()
      for t in temp:
        allWords.append(t)
    # print(allWords)
    allWords = set(allWords)
    keyWords = ['keyword-' + w for w in allWords]
    return '|'.join(keyWords)
  return ''

In [31]:
words= [{'id': 154802, 'name': 'silent film'}, {'id': 191047,
                                         'name': 'prison break'}, {'id': 211467, 'name': 'trick film'}]
get_keywords(words)

'keyword-film|keyword-prison|keyword-break|keyword-silent|keyword-trick'

In [32]:
def get_original_title(s):
  if isinstance(s, str):
    s = s.lower()
    temp = s.split()
    temp2 = [x for x in temp if x not in stop_words_set]
    #print(len(temp) - len(temp2))
    title_words = ['title-' + t for t in temp2]
    return '|'.join(title_words)
  return ''

In [33]:
def get_director(l):
  for d in l:
    if d['job'] == 'Director':
      return d['name']
  return ''

def get_actors(l):
    if isinstance(l, list):
        actors = [d['name'] for d in l]
        if len(actors) >= 3:
            actors = actors[:3]
            return '|'.join(actors)
        return '|'.join(actors)


directors = all_data['crew'].apply(literal_eval).apply(get_director)
top_actors = all_data['cast'].apply(literal_eval).apply(get_actors)

In [34]:
production_companies = all_data['production_companies'].apply(literal_eval).apply(get_production_companies)

In [35]:
production_countries = all_data['production_countries'].apply(literal_eval).apply(get_production_countries)

In [36]:
keywords = all_data['keywords'].apply(literal_eval).apply(get_keywords)

In [37]:
original_title = all_data['original_title'].apply(get_original_title)

In [38]:
all_data['director'] = directors

In [39]:
all_data['actors'] = top_actors

In [40]:
all_data['production_companies'] = production_companies

In [41]:
all_data['production_countries'] = production_countries

In [42]:
all_data['keywords'] = keywords

In [43]:
all_data['original_title'] = original_title

In [44]:
all_data.shape

(36435, 27)

In [45]:
all_data = all_data.replace(r'^\s*$', np.NaN, regex=True)

In [46]:
all_data = all_data.dropna()

In [47]:
all_data.shape

(21879, 27)

In [48]:
all_data.columns

Index(['original_language', 'original_title', 'overview',
       'production_companies', 'production_countries', 'runtime', 'cast',
       'crew', 'keywords', 'IMDB Score', 'Genre', 'num_faces', 'brightness',
       'saturation', 'hue', 'brightness_sd', 'saturation_sd ', 'hue_sd',
       'blue', 'blue_sd', 'green', 'green_sd', 'red', 'red_sd ', 'year',
       'director', 'actors'],
      dtype='object')

In [49]:
all_data.head()

,original_language,original_title,overview,production_companies,production_countries,runtime,cast,crew,keywords,IMDB Score,...,hue_sd,blue,blue_sd,green,green_sd,red,red_sd,year,director,actors
0,1,title-toy|title-story,"Led by Woody, Andy's toys live happily in his ...",Pixar Animation Studios,US,81.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",keyword-rivalry|keyword-door|keyword-next|keyw...,8.3,...,46.984021,147.046133,83.046441,127.812661,59.618615,79.571854,88.574055,1995,John Lasseter,Tom Hanks|Tim Allen|Don Rickles
1,1,title-jumanji,When siblings Judy and Peter discover an encha...,TriStar Pictures|Teitler Film|Interscope Commu...,US,104.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",keyword-recluse|keyword-based|keyword-game|key...,6.9,...,61.296055,132.472598,84.508776,137.041430,79.140584,137.619493,85.319415,1995,Joe Johnston,Robin Williams|Jonathan Hyde|Kirsten Dunst
2,1,title-grumpier|title-old|title-men,A family wedding reignites the ancient feud be...,Warner Bros.|Lancaster Gate,US,101.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",keyword-old|keyword-duringcreditsstinger|keywo...,6.6,...,65.406756,97.464385,78.935691,106.743824,89.725921,136.728580,96.124722,1995,Howard Deutch,Walter Matthau|Jack Lemmon|Ann-Margret
3,1,title-waiting|title-exhale,"Cheated on, mistreated and stepped on, the wom...",Twentieth Century Fox Film Corporation,US,127.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",keyword-chick|keyword-based|keyword-mother|key...,5.7,...,57.431210,148.388970,88.371216,161.866089,82.379306,191.924122,72.849543,1995,Forest Whitaker,Whitney Houston|Angela Bassett|Loretta Devine
4,1,title-father|title-bride|title-part|title-ii,Just when George Banks has recovered from his ...,Sandollar Productions|Touchstone Pictures,US,106.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",keyword-baby|keyword-mother|keyword-contracept...,5.9,...,28.312941,94.287052,98.054007,110.440328,99.236678,136.537094,104.796367,1995,Charles Shyer,Steve Martin|Diane Keaton|Martin Short

In [50]:
cols = ['original_language', 'original_title', 'overview',
       'production_companies', 'production_countries', 'runtime', 'cast',
       'crew', 'keywords', 'IMDB Score', 'Genre',
       'num_faces', 'brightness', 'saturation', 'hue',
       'brightness_sd', 'saturation_sd ', 'hue_sd', 'blue', 'blue_sd', 'green',
       'green_sd', 'red', 'red_sd ', 'year', 'director', 'actors']

new_cols = ['original_language', 'original_title', 'overview',
       'production_companies', 'production_countries', 'runtime', 'cast',
       'crew', 'keywords', 'IMDBscore', 'genre',
       'num_faces', 'brightness', 'saturation', 'hue',
       'brightness_sd', 'saturation_sd', 'hue_sd', 'blue', 'blue_sd', 'green',
       'green_sd', 'red', 'red_sd', 'year', 'director', 'actors']

In [51]:
all_data = all_data[cols]
all_data = all_data.dropna()
print(all_data.shape)

(21879, 27)

In [52]:
all_data.columns = new_cols
all_data = all_data.reset_index(drop=True)
print(all_data.shape)

(21879, 27)

In [53]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21879 entries, 0 to 21878
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   original_language     21879 non-null  int64
 1   original_title        21879 non-null  object
 2   overview              21879 non-null  object
 3   production_companies  21879 non-null  object
 4   production_countries  21879 non-null  object
 5   runtime               21879 non-null  float64
 6   cast                  21879 non-null  object
 7   crew                  21879 non-null  object
 8   keywords              21879 non-null  object
 9   IMDBscore             21879 non-null  float64
 10  genre                 21879 non-null  object
 11  num_faces             21879 non-null  float64
 12  brightness            21879 non-null  float64
 13  saturation            21879 non-null  float64
 14  hue                   21879 non-null  float64
 15  brightness_sd         21879 non-null  float64
 16  saturation_sd         21879 non-null  float64
 17  hue_sd                21879 non-null  float64
 18  blue                  21879 non-null  float64
 19  blue_sd               21879 non-null  float64
 20  green                 21879 non-null  float64
 21  green_sd              21879 non-null  float64
 22  red                   21879 non-null  float64
 23  red_sd                21879 non-null  float64
 24  year                  21879 non-null  int64
 25  director              21879 non-null  object
 26  actors                21879 non-null  object
dtypes: float64(15), int64(2), object(10)
memory usage: 4.5+ MB

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
train_dataset, test_dataset = train_test_split(
    all_data, test_size=0.3, random_state=0)
valid_dataset, test_dataset = train_test_split(
    test_dataset, test_size=0.5, random_state=0)

train_data = train_dataset.reset_index(drop=True)
valid_data = valid_dataset.reset_index(drop=True)
test_data = test_dataset.reset_index(drop=True)

print(train_data.shape)
print(valid_data.shape)
print(test_data.shape)

# not making the csv files rightnow
# train_data.to_csv('Dataset/train.csv', index=False)
# valid_data.to_csv('Dataset/valid.csv', index=False)
# test_data.to_csv('Dataset/test.csv', index=False)

print('')
print(np.cov(train_data['IMDBscore']))
print(np.cov(valid_data['IMDBscore']))
print(np.cov(test_data['IMDBscore']))

(15315, 27)
(3282, 27)
(3282, 27)

1.198378109161272
1.227878741952494
1.1594372637613448

In [56]:
def get_words(message, tokenizer = None):
    if tokenizer:
        doc = tokenizer(message)
        return [i.text for i in doc]
    else:
        return message.lower().split('|')

def create_dictionary(messages, min_count = 5, tokenizer = None):
    words_count = {}
    for i in tqdm(range(len(messages))):
        s = messages[i]
        words = get_words(s, tokenizer)
        words_unique = list(dict.fromkeys(words))
        for w in words_unique:
            if w not in words_count:
                words_count[w] = 1
            else:
                words_count[w] += 1

    for word in list(words_count.keys()):
        if (words_count[word] < min_count) or word=='':
            del words_count[word]

    index = 1
    for word in list(words_count.keys()):
        words_count[word] = index
        index = index + 1

    return words_count


def transform_text(messages, word_dictionary, tokenizer = None):
    words_arr = np.zeros((len(messages), len(word_dictionary)))
    for i in range(words_arr.shape[0]):
        message_words = get_words(messages[i], tokenizer)
        message_indices = map(word_dictionary.get, message_words)
        for j in message_indices:
            if j is not None:
                words_arr[i, j-1] += 1
    return words_arr

In [57]:
production_companies_dictionary = create_dictionary(train_data['production_companies'].astype(str).values, min_count=10)
print('Size of dictionary: ', len(production_companies_dictionary))
train_production_companies_matrix = transform_text(train_data['production_companies'].astype(str).values, production_companies_dictionary)
valid_production_companies_matrix = transform_text(valid_data['production_companies'].astype(str).values, production_companies_dictionary)
test_production_companies_matrix = transform_text(test_data['production_companies'].astype(str).values, production_companies_dictionary)
# print(director_dictionary)
print(train_production_companies_matrix.shape)
print(valid_production_companies_matrix.shape)
print(test_production_companies_matrix.shape)

100%|██████████| 15315/15315 [00:00<00:00, 90031.63it/s]

Size of dictionary:  401
(15315, 401)
(3282, 401)
(3282, 401)

In [58]:
production_countries_dictionary = create_dictionary(train_data['production_countries'].astype(str).values, min_count=0)
print('Size of dictionary: ', len(production_countries_dictionary))
# train_production_countries_matrix = transform_text(train_data['production_countries'].astype(str).values, production_countries_dictionary)
# valid_production_countries_matrix = transform_text(valid_data['production_countries'].astype(str).values, production_countries_dictionary)
# test_production_countries_matrix = transform_text(test_data['production_countries'].astype(str).values, production_countries_dictionary)
# # print(director_dictionary)
# print(train_production_countries_matrix.shape)
# print(valid_production_countries_matrix.shape)
# print(test_production_countries_matrix.shape)

100%|██████████| 15315/15315 [00:00<00:00, 249214.43it/s]

Size of dictionary:  124

In [59]:
def giveCountry(country):
    return production_countries_dictionary.get(country.lower(), 0)

In [60]:
all_data['production_countries'] = all_data['production_countries'].apply(giveCountry)

In [61]:
train_data['production_countries'] = train_data['production_countries'].apply(
    giveCountry)
valid_data['production_countries'] = valid_data['production_countries'].apply(
    giveCountry)
test_data['production_countries'] = test_data['production_countries'].apply(
    giveCountry)

In [62]:
all_data['production_countries'].value_counts()

2      11981
3       1853
4       1320
15       800
24       752
       ...
107        1
91         1
75         1
121        1
103        1
Name: production_countries, Length: 125, dtype: int64

In [63]:
keywords_dictionary = create_dictionary(train_data['keywords'].astype(str).values, min_count=20)
print('Size of dictionary: ', len(keywords_dictionary))
train_keywords_matrix = transform_text(train_data['keywords'].astype(str).values, keywords_dictionary)
valid_keywords_matrix = transform_text(valid_data['keywords'].astype(str).values, keywords_dictionary)
test_keywords_matrix = transform_text(test_data['keywords'].astype(str).values, keywords_dictionary)
# print(director_dictionary)
print(train_keywords_matrix.shape)
print(valid_keywords_matrix.shape)
print(test_keywords_matrix.shape)

100%|██████████| 15315/15315 [00:00<00:00, 81632.46it/s]

Size of dictionary:  1198
(15315, 1198)
(3282, 1198)
(3282, 1198)

In [64]:
original_title_dictionary = create_dictionary(train_data['original_title'].astype(str).values, min_count=10)
print('Size of dictionary: ', len(original_title_dictionary))
train_original_title_matrix = transform_text(train_data['original_title'].astype(str).values, original_title_dictionary)
valid_original_title_matrix = transform_text(valid_data['original_title'].astype(str).values, original_title_dictionary)
test_original_title_matrix = transform_text(test_data['original_title'].astype(str).values, original_title_dictionary)
# print(director_dictionary)
print(train_original_title_matrix.shape)
print(valid_original_title_matrix.shape)
print(test_original_title_matrix.shape)

100%|██████████| 15315/15315 [00:00<00:00, 133740.37it/s]

Size of dictionary:  482
(15315, 482)
(3282, 482)
(3282, 482)

In [65]:
# min count is denoting the minimum number of times a word has to appear in the corpus to be included in the dictionary
genre_dictionary = create_dictionary(train_data['genre'].astype(str).values, min_count=0)

100%|██████████| 15315/15315 [00:00<00:00, 156957.80it/s]

In [66]:
print(genre_dictionary)

{'action': 1, 'sci-fi': 2, 'thriller': 3, 'crime': 4, 'drama': 5, 'film-noir': 6, 'biography': 7, 'romance': 8, 'comedy': 9, 'horror': 10, 'adventure': 11, 'animation': 12, 'music': 13, 'sport': 14, 'mystery': 15, 'history': 16, 'documentary': 17, 'fantasy': 18, 'western': 19, 'family': 20, 'short': 21, 'war': 22, 'musical': 23, 'talk-show': 24, 'news': 25, 'adult': 26}

In [67]:
train_genre_matrix = transform_text(
    train_data['genre'].astype(str).values, genre_dictionary)
valid_genre_matrix = transform_text(
    valid_data['genre'].astype(str).values, genre_dictionary)
test_genre_matrix = transform_text(
    test_data['genre'].astype(str).values, genre_dictionary)
# print(genre_dictionary)
print(train_genre_matrix.shape)
print(valid_genre_matrix.shape)
print(test_genre_matrix.shape)

(15315, 26)
(3282, 26)
(3282, 26)

In [68]:
train_data.head()

,original_language,original_title,overview,production_companies,production_countries,runtime,cast,crew,keywords,IMDBscore,...,hue_sd,blue,blue_sd,green,green_sd,red,red_sd,year,director,actors
0,4,title-2047|title--|title-sights|title-death,The year is 2047. Our planet is ruled by the ...,Ambi Pictures|Monika Bacardi|Red New Line,1,85.0,"[{'cast_id': 1, 'character': 'Sponge', 'credit...","[{'credit_id': '53c8b138c3a3686e7c0008c6', 'de...",keyword-post-apocalyptic,2.5,...,48.510231,59.291541,59.421046,55.450961,63.923155,61.900720,70.633210,2014,Alessandro Capone,Danny Glover|Rutger Hauer|Daryl Hannah
1,1,title-cause|title-alarm,A woman fights to intercept a letter in which ...,Metro-Goldwyn-Mayer (MGM),2,74.0,"[{'cast_id': 9, 'character': 'Ellen Jones', 'c...","[{'credit_id': '52fe45fdc3a368484e07a6f9', 'de...",keyword-postman|keyword-letter|keyword-movie|k...,6.5,...,19.761387,30.300341,31.602654,143.967228,64.888130,190.006143,48.116546,1951,Tay Garnett,Loretta Young|Barry Sullivan|Bruce Cowling
2,1,title-girl|title-pearl|title-earring,"This film, adapted from a work of fiction by a...",Wild Bear Films|Archer Street Productions|Delu...,3,101.0,"[{'cast_id': 1, 'character': 'Griet', 'credit_...","[{'credit_id': '52fe43a1c3a36847f80632e9', 'de...",keyword-painter|keyword-maid|keyword-biography...,7.0,...,9.522887,39.279707,50.422176,74.729219,63.880448,137.373022,84.354267,2003,Peter Webber,Scarlett Johansson|Colin Firth|Cillian Murphy
3,1,title-paparazzi,Franck shows up in a gossip magazine photo beh...,Studio|Rigolo Film 2000|Rigolo Films 2000,4,109.0,"[{'cast_id': 3, 'character': 'Franck Bordoni',...","[{'credit_id': '52fe4673c3a368484e091587', 'de...",keyword-photographer|keyword-celebrity|keyword...,5.4,...,26.587798,59.853819,75.018672,88.795450,90.242732,110.726446,95.723728,1998,Alain BerbÃ©rian,Patrick Timsit|Vincent Lindon|Nathalie Baye
4,1,title-exorcist,12-year-old Regan MacNeil begins to adapt an e...,Warner Bros.|Hoya Productions,2,122.0,"[{'cast_id': 14, 'character': 'Regan', 'credit...","[{'credit_id': '52fe4508c3a36847f80b865d', 'de...",keyword-profanity|keyword-holy|keyword-phenome...,8.0,...,37.738248,29.058856,58.821389,33.974002,70.143761,36.372198,72.607865,1973,William Friedkin,Linda Blair|Max von Sydow|Ellen Burstyn

In [69]:
director_dictionary = create_dictionary(
    train_data['director'].astype(str).values, min_count=10)
print('Size of dictionary: ', len(director_dictionary))
train_director_matrix = transform_text(
    train_data['director'].astype(str).values, director_dictionary)
valid_director_matrix = transform_text(
    valid_data['director'].astype(str).values, director_dictionary)
test_director_matrix = transform_text(
    test_data['director'].astype(str).values, director_dictionary)
# print(director_dictionary)
print(train_director_matrix.shape)
print(valid_director_matrix.shape)
print(test_director_matrix.shape)

100%|██████████| 15315/15315 [00:00<00:00, 121564.02it/s]

Size of dictionary:  194
(15315, 194)
(3282, 194)
(3282, 194)

In [70]:
actors_dictionary = create_dictionary(
    train_data['actors'].astype(str).values, min_count=20)
print('Size of dictionary: ', len(actors_dictionary))
train_actors_matrix = transform_text(
    train_data['actors'].astype(str).values, actors_dictionary)
valid_actors_matrix = transform_text(
    valid_data['actors'].astype(str).values, actors_dictionary)
test_actors_matrix = transform_text(
    test_data['actors'].astype(str).values, actors_dictionary)
# print(actors_dictionary)
print(train_actors_matrix.shape)
print(valid_actors_matrix.shape)
print(test_actors_matrix.shape)

100%|██████████| 15315/15315 [00:00<00:00, 120485.28it/s]

Size of dictionary:  190
(15315, 190)
(3282, 190)
(3282, 190)

In [71]:
import spacy
import re

In [72]:
#def func(messages, word_dictionary, tokenizer = None):
#  m_w = get_words_new(messages[0],tokenizer)
#  m_i = map(word_dictionary.get,m_w)
#  print(m_w)
#  print(list(m_i))

In [73]:
def create_dictionary_overview(messages, min_count, tokenizer):
    #stop_words = []
    #with open(path2,'r') as f:
    #  for x in f:
    #    stop_words.append(x[:-1])

    words_count = {}
    for i in tqdm(range(len(messages))):
        s = messages[i]
        words = get_words(s, tokenizer)
        words_unique = list(dict.fromkeys(words))
        for w in words_unique:
          if len(w)<=1 or w.lower() in stop_words_set or not w.isalpha():
            continue
          if w.lower() not in words_count:
            words_count[w.lower()] = 1
          else:
            words_count[w.lower()] += 1

    for word in list(words_count.keys()):
        if (words_count[word] < min_count) or word=='':
            del words_count[word]

    index = 1
    for word in list(words_count.keys()):
        words_count[word] = index
        index = index + 1

    return words_count

In [74]:
def get_words_new(message, tokenizer = None):
  if tokenizer:
    doc = tokenizer(message)
    return [i.text for i in doc]
  else:
    return message.lower().split(' ')

In [75]:
def custom_transform(messages, word_dictionary, tokenizer = None):
    words_arr = np.zeros((len(messages), len(word_dictionary)))
    for i in range(words_arr.shape[0]):
        message_words = get_words_new(messages[i], tokenizer)
        message_indices = map(word_dictionary.get, message_words)
        for j in message_indices:
            if j is not None:
                words_arr[i, j-1] += 1
    return words_arr

In [76]:
tokenizer = spacy.load("en_core_web_sm", disable=["tagger", "parser", "ner", "lemmatizer"])
overview_dictionary = create_dictionary_overview(
    train_data['overview'], 75, tokenizer)
print('Size of dictionary: ', len(overview_dictionary))

train_overview_matrix = custom_transform(
    train_data['overview'].astype(str).values, overview_dictionary)

valid_overview_matrix = custom_transform(
    valid_data['overview'].astype(str).values, overview_dictionary)

test_overview_matrix = custom_transform(
    test_data['overview'].astype(str).values, overview_dictionary)

# print(overview_dictionary)
print(train_overview_matrix.shape)
print(valid_overview_matrix.shape)
print(test_overview_matrix.shape)

100%|██████████| 15315/15315 [03:36<00:00, 70.59it/s]

Size of dictionary:  1042
(15315, 1042)
(3282, 1042)
(3282, 1042)

In [77]:
train_overview_matrix.shape

(15315, 1042)

In [78]:
train_data.columns

Index(['original_language', 'original_title', 'overview',
       'production_companies', 'production_countries', 'runtime', 'cast',
       'crew', 'keywords', 'IMDBscore', 'genre', 'num_faces', 'brightness',
       'saturation', 'hue', 'brightness_sd', 'saturation_sd', 'hue_sd', 'blue',
       'blue_sd', 'green', 'green_sd', 'red', 'red_sd', 'year', 'director',
       'actors'],
      dtype='object')

In [79]:
train_data.loc[0]

original_language                                                       4
original_title                title-2047|title--|title-sights|title-death
overview                The year is 2047.  Our planet is ruled by the ...
production_companies            Ambi Pictures|Monika Bacardi|Red New Line
production_countries                                                    1
runtime                                                         85.000000
cast                    [{'cast_id': 1, 'character': 'Sponge', 'credit...
crew                    [{'credit_id': '53c8b138c3a3686e7c0008c6', 'de...
keywords                                         keyword-post-apocalyptic
IMDBscore                                                        2.500000
genre                                              Action|Sci-Fi|Thriller
num_faces                                                        0.000000
brightness                                                      68.079774
saturation                                                      72.550685
hue                                                            102.165613
brightness_sd                                                   68.463366
saturation_sd                                                   44.035652
hue_sd                                                          48.510231
blue                                                            59.291541
blue_sd                                                         59.421046
green                                                           55.450961
green_sd                                                        63.923155
red                                                             61.900720
red_sd                                                          70.633210
year                                                                 2014
director                                                Alessandro Capone
actors                             Danny Glover|Rutger Hauer|Daryl Hannah
Name: 0, dtype: object

In [80]:
#from wordcloud import WordCloud

In [81]:
#wordcloud = WordCloud()
#wordcloud.generate_from_frequencies(frequencies=overview_dictionary)
#plt.figure(figsize=(15,15))
#plt.imshow(wordcloud)
#plt.axis("off")
#plt.show()

# Encoding

In [82]:
train_data.columns

Index(['original_language', 'original_title', 'overview',
       'production_companies', 'production_countries', 'runtime', 'cast',
       'crew', 'keywords', 'IMDBscore', 'genre', 'num_faces', 'brightness',
       'saturation', 'hue', 'brightness_sd', 'saturation_sd', 'hue_sd', 'blue',
       'blue_sd', 'green', 'green_sd', 'red', 'red_sd', 'year', 'director',
       'actors'],
      dtype='object')

In [83]:
# train_data = pd.read_csv('train.csv')
# valid_data = pd.read_csv('valid.csv')
# test_data = pd.read_csv('test.csv')
train_data = train_data.drop(columns = ['original_title','overview','production_companies','cast','crew','keywords','genre','director', 'actors'])
valid_data = valid_data.drop(columns = ['original_title','overview','production_companies','cast','crew','keywords','genre','director', 'actors'])
test_data = test_data.drop(columns = ['original_title','overview','production_companies','cast','crew','keywords','genre','director', 'actors'])
train_data = pd.concat([train_data,
                        pd.DataFrame(train_genre_matrix, columns = genre_dictionary.keys()),
                        pd.DataFrame(train_director_matrix, columns = director_dictionary.keys()), 
                        pd.DataFrame(train_actors_matrix, columns = actors_dictionary.keys()),
                        pd.DataFrame(train_overview_matrix, columns = overview_dictionary.keys()),
                        pd.DataFrame(train_production_companies_matrix, columns = production_companies_dictionary.keys()),
                        pd.DataFrame(train_keywords_matrix, columns=keywords_dictionary.keys()),
                        pd.DataFrame(train_original_title_matrix, columns=original_title_dictionary.keys())],
                        axis=1)

valid_data = pd.concat([valid_data,
                        pd.DataFrame(valid_genre_matrix, columns = genre_dictionary.keys()),
                        pd.DataFrame(valid_director_matrix, columns = director_dictionary.keys()), 
                        pd.DataFrame(valid_actors_matrix, columns = actors_dictionary.keys() ),
                        pd.DataFrame(valid_overview_matrix, columns = overview_dictionary.keys()),
                        pd.DataFrame(valid_production_companies_matrix, columns = production_companies_dictionary.keys()),
                        pd.DataFrame(valid_keywords_matrix, columns=keywords_dictionary.keys()),
                        pd.DataFrame(valid_original_title_matrix, columns=original_title_dictionary.keys())],
                        axis=1)

test_data = pd.concat([test_data,
                       pd.DataFrame(test_genre_matrix, columns = genre_dictionary.keys()),
                       pd.DataFrame(test_director_matrix, columns = director_dictionary.keys()), 
                       pd.DataFrame(test_actors_matrix, columns = actors_dictionary.keys()),
                       pd.DataFrame(test_overview_matrix, columns = overview_dictionary.keys()),
                       pd.DataFrame(test_production_companies_matrix, columns = production_companies_dictionary.keys()),
                       pd.DataFrame(test_keywords_matrix, columns=keywords_dictionary.keys()),
                       pd.DataFrame(test_original_title_matrix, columns=original_title_dictionary.keys())],
                       axis=1)

In [84]:
# train_data.to_csv('train1.csv', index=False)
# valid_data.to_csv('valid1.csv', index=False)
# test_data.to_csv('test1.csv', index=False)

In [85]:
# train_data = pd.read_csv('train1.csv', low_memory=False)
# valid_data = pd.read_csv('valid1.csv', low_memory=False)
# test_data = pd.read_csv('test1.csv', low_memory=False)

In [86]:
train_data.shape, test_data.shape, valid_data.shape

((15315, 3551), (3282, 3551), (3282, 3551))

In [87]:
train_data

,original_language,production_countries,runtime,IMDBscore,num_faces,brightness,saturation,hue,brightness_sd,saturation_sd,...,title-blues,title-im,title-book,title-daughter,title-1,title-eight,title-around,title-stone,title-dirty,title-sunday
0,4,1,85.0,2.5,0.0,68.079774,72.550685,102.165613,68.463366,44.035652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2,74.0,6.5,1.0,191.098231,208.966681,22.105500,47.674663,48.488609,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,3,101.0,7.0,0.0,137.413546,182.638452,13.397937,84.298923,56.269608,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,4,109.0,5.4,2.0,111.039530,131.641298,22.980174,95.767782,73.249064,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,2,122.0,8.0,0.0,38.639794,40.171180,17.569737,75.277250,66.435464,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15310,1,2,69.0,7.3,0.0,107.746298,145.027683,80.682770,81.018169,85.983949,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15311,4,4,110.0,6.4,2.0,130.606780,47.250846,120.030067,76.479428,40.563871,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15312,1,2,92.0,5.6,1.0,221.232039,42.578765,53.822094,51.282479,75.452311,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15313,1,2,145.0,6.8,0.0,130.325504,104.937309,30.772283,67.771797,82.550592,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15314,1,2,121.0,7.0,2.0,60.820993,42.527185,20.666306,77.608276,66.107898,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15315 entries, 0 to 15314
Columns: 3551 entries, original_language to title-sunday
dtypes: float64(3548), int64(3)
memory usage: 414.9 MB

## normailizing the data

In [89]:
for col in ['original_language','runtime', 'num_faces', 'hue', 'hue_sd', 'saturation', 'saturation_sd', 'brightness', 'brightness_sd',
            'blue', 'blue_sd', 'green', 'green_sd', 'red', 'red_sd', 'year', 'production_countries']:
    mean_feature = np.mean(train_data[col])
    sd_feature = np.std(train_data[col])
    # if sd_feature != 0:
    train_data[col] = (train_data[col] - mean_feature) / sd_feature
    valid_data[col] = (valid_data[col] - mean_feature) / sd_feature
    test_data[col] = (test_data[col] - mean_feature) / sd_feature
    # else:
        # train_data[col] = (train_data[col] - mean_feature)
        # valid_data[col] = (valid_data[col] - mean_feature)
        # test_data[col] = (test_data[col] - mean_feature)

In [90]:
print(train_data.shape)
print(valid_data.shape)
print(test_data.shape)
train_X = train_data.drop(columns=['IMDBscore'])
valid_X = valid_data.drop(columns=['IMDBscore'])
test_X = test_data.drop(columns=['IMDBscore'])

(15315, 3551)
(3282, 3551)
(3282, 3551)

# Linear Regression

In [91]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [92]:
print(np.cov(train_data['IMDBscore']))
print(np.cov(valid_data['IMDBscore']))
print(np.cov(test_data['IMDBscore']))

1.198378109161272
1.227878741952494
1.1594372637613448

In [93]:
reg = LinearRegression().fit(train_X, train_data['IMDBscore'])

print('Train R^2: ', reg.score(train_X, train_data['IMDBscore']))
print('Train MSE: ', mean_squared_error(
    reg.predict(train_X), train_data['IMDBscore']))

print('Valid R^2: ', reg.score(valid_X, valid_data['IMDBscore']))
print('Valid MSE: ', mean_squared_error(
    reg.predict(valid_X), valid_data['IMDBscore']))

print('Test R^2: ', reg.score(test_X, test_data['IMDBscore']))
print('Test MSE: ', mean_squared_error(
    reg.predict(test_X), test_data['IMDBscore']))

Train R^2:  0.599617099431068
Train MSE:  0.47977877390195023
Valid R^2:  0.3158292623453489
Valid MSE:  0.8398227391523241
Test R^2:  0.34211269156679713
Test MSE:  0.7625466478765848

In [94]:
reg = Ridge(alpha=0.01, random_state=0).fit(train_X, train_data['IMDBscore'])

print('Train R^2: ', reg.score(train_X, train_data['IMDBscore']))
print('Train MSE: ', mean_squared_error(
    reg.predict(train_X), train_data['IMDBscore']))

print('Valid R^2: ', reg.score(valid_X, valid_data['IMDBscore']))
print('Valid MSE: ', mean_squared_error(
    reg.predict(valid_X), valid_data['IMDBscore']))

print('Test R^2: ', reg.score(test_X, test_data['IMDBscore']))
print('Test MSE: ', mean_squared_error(
    reg.predict(test_X), test_data['IMDBscore']))

Train R^2:  0.59961697738744
Train MSE:  0.4797789201468127
Valid R^2:  0.3160201201994226
Valid MSE:  0.8395884602552957
Test R^2:  0.34234784551744313
Test MSE:  0.7622740846966883

In [103]:
reg.tol?

Type:        float
String form: 0.0001
Docstring:   Convert a string or number to a floating point number, if possible.

In [95]:
reg = Lasso(alpha=0.01, random_state=0).fit(train_X, train_data['IMDBscore'])

print('Train R^2: ', reg.score(train_X, train_data['IMDBscore']))
print('Train MSE: ', mean_squared_error(
    reg.predict(train_X), train_data['IMDBscore']))

print('Valid R^2: ', reg.score(valid_X, valid_data['IMDBscore']))
print('Valid MSE: ', mean_squared_error(
    reg.predict(valid_X), valid_data['IMDBscore']))

print('Test R^2: ', reg.score(test_X, test_data['IMDBscore']))
print('Test MSE: ', mean_squared_error(
    reg.predict(test_X), test_data['IMDBscore']))

Train R^2:  0.31116802644849684
Train MSE:  0.8254272578209231
Valid R^2:  0.30685858949844247
Valid MSE:  0.8508342814877276
Test R^2:  0.3358128274581128
Test MSE:  0.7698487195179973

In [97]:
from sklearn.model_selection import learning_curve
from io import StringIO

In [100]:
LinearRegression?

Init signature:
LinearRegression(
    *,
    fit_intercept=True,
    normalize=False,
    copy_X=True,
    n_jobs=None,
    positive=False,
)
Docstring:
Ordinary least squares Linear Regression.

LinearRegression fits a linear model with coefficients w = (w1, ..., wp)
to minimize the residual sum of squares between the observed targets in
the dataset, and the targets predicted by the linear approximation.

Parameters
----------
fit_intercept : bool, default=True
    Whether to calculate the intercept for this model. If set
    to False, no intercept will be used in calculations
    (i.e. data is expected to be centered).

normalize : bool, default=False
    This parameter is ignored when ``fit_intercept`` is set to False.
    If True, the regressors X will be normalized before regression by
    subtracting the mean and dividing by the l2-norm.
    If you wish to standardize, please use
    :class:`~sklearn.preprocessing.StandardScaler` before calling ``fit``
    on an estimator with ``normalize=False``.

copy_X : bool, default=True
    If True, X will be copied; else, it may be overwritten.

n_jobs : int, default=None
    The number of jobs to use for the computation. This will only provide
    speedup for n_targets > 1 and sufficient large problems.
    ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
    ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
    for more details.

positive : bool, default=False
    When set to ``True``, forces the coefficients to be positive. This
    option is only supported for dense arrays.

    .. versionadded:: 0.24

Attributes
----------
coef_ : array of shape (n_features, ) or (n_targets, n_features)
    Estimated coefficients for the linear regression problem.
    If multiple targets are passed during the fit (y 2D), this
    is a 2D array of shape (n_targets, n_features), while if only
    one target is passed, this is a 1D array of length n_features.

rank_ : int
    Rank of matrix `X`. Only available when `X` is dense.

singular_ : array of shape (min(X, y),)
    Singular values of `X`. Only available when `X` is dense.

intercept_ : float or array of shape (n_targets,)
    Independent term in the linear model. Set to 0.0 if
    `fit_intercept = False`.

See Also
--------
Ridge : Ridge regression addresses some of the
    problems of Ordinary Least Squares by imposing a penalty on the
    size of the coefficients with l2 regularization.
Lasso : The Lasso is a linear model that estimates
    sparse coefficients with l1 regularization.
ElasticNet : Elastic-Net is a linear regression
    model trained with both l1 and l2 -norm regularization of the
    coefficients.

Notes
-----
From the implementation point of view, this is just plain Ordinary
Least Squares (scipy.linalg.lstsq) or Non Negative Least Squares
(scipy.optimize.nnls) wrapped as a predictor object.

Examples
--------
>>> import numpy as np
>>> from sklearn.linear_model import LinearRegression
>>> X = np.array([[1, 1], [1, 2], [2, 2], [2, 3]])
>>> # y = 1 * x_0 + 2 * x_1 + 3
>>> y = np.dot(X, np.array([1, 2])) + 3
>>> reg = LinearRegression().fit(X, y)
>>> reg.score(X, y)
1.0
>>> reg.coef_
array([1., 2.])
>>> reg.intercept_
3.0000...
>>> reg.predict(np.array([[3, 5]]))
array([16.])
File:           /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/linear_model/_base.py
Type:           ABCMeta
Subclasses:

In [99]:
reg = Ridge(alpha=0.01, random_state=0, verbose=1).fit(train_X, train_data['IMDBscore'])

TypeError: __init__() got an unexpected keyword argument 'verbose'